@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  padding: 0px 8px;
  margin: auto;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 320px) {
  .app {
    padding: 0px 16px;
  }
}

@media screen and (min-width: 640px) {
  .app {
    width: 80%;
    padding: 0px 2rem;
  }
}
/* button {
  background: transparent;
  font-size: 18px;
  color: #49557e;
  border: 1px solid rgb(187, 146, 231);
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.button:hover {
  background-color: rgb(187, 146, 231);
  color: white;
} */
